<%- include('partials/header') %>

<h3 class="text-center">
    Bienvenu dans l'espace admin
</h3>
<div class="buttons">
    <a href="/tag/add" class="btn btn-lg btn-block btn-primary text-white">Ajouter un tag</a>
    <a href="/tag/select" class="btn btn-lg btn-block btn-primary text-white">Modifier un tag</a>
    <a href="/tag/associate" class="btn btn-lg btn-block btn-primary text-white">Associer un tag et un quiz</a>
</div>

<%- include('partials/footer') %>